.DS_Store
.codecompanion.json
node_modules
storybook-static
coverage
dist
dist-ssr
.cache
.name
build
*.local

# workaround for npm publish "type" npm ERR!
# this works alongside the publishConfig.cache value
# in package.json
~/.npm

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

volar.d.ts
.npmrc
.eslintrc-auto-import.json
