############################
# Artifactory .npmrc       #
############################

registry = https://artifacts-new.sei.cmu.edu/artifactory/api/npm/npm-remote/
strict-ssl = false

@sds:registry = https://artifacts-new.sei.cmu.edu/artifactory/api/npm/pde-npm-local/

# When installing via npm, some dependencies have postinstall requirements that
# pull resources from other sources online.

# In order to properly access some of those resources within the SEI network,
# use the following settings to point the libraries at our internal
# Artifactory mirror.

## node-sass
sass_binary_site = https://artifacts-new.sei.cmu.edu/artifactory/npm-taobao-remote/node-sass

## chromedriver
chromedriver_cdnurl = https://artifacts-new.sei.cmu.edu/artifactory/npm-taobao-remote/chromedriver

## Font Awesome Pro
@fortawesome:registry=https://artifacts-new.sei.cmu.edu/artifactory/api/npm/fontawesome-pro-npm-remote/
# @fortawesome:registry=https://npm.fontawesome.com/
# npm.fontawesome.com/:_authToken=2C09B59C-222F-43F5-BAD5-FFBCFF6B7A5D
