.link:where(.sds-theme-plaid *) {
  & {
    @apply inline-block break-words cursor-pointer hover:underline;

    &.link-inline {
      @apply underline;
    }

    &.disabled, &[disabled] {
      @apply opacity-50 pointer-events-none;

      &.link-tertiary {
        @apply text-gray-900;
      }
    }
  }

  &.link-primary {
    @apply text-blue-600 hover:text-blue-500 dark:text-blue-300 dark:hover:text-blue-200;
  }

  &.link-secondary {
    @apply text-gray-900 hover:text-blue-500 dark:text-gray-100 dark:hover:text-blue-200;
  }

  &.link-tertiary {
    @apply text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100;
  }

  &.link-primary.link-red {
    @apply text-red-600 hover:text-red-500 dark:text-red-300 dark:hover:text-red-200;
  }

  &.link-secondary.link-red {
    @apply text-gray-900 hover:text-red-500 dark:text-gray-100 dark:hover:text-red-200;
  }

  &.link-tertiary.link-red {
    @apply text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100;
  }

  &.link-primary.link-white {
    @apply text-white hover:text-white dark:text-white dark:hover:text-white;
  }

  &.link-secondary.link-white {
    @apply text-gray-900 hover:text-white dark:text-gray-100 dark:hover:text-white;
  }

  &.link-tertiary.link-white {
    @apply text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100;
  }

  &.link-cta {
    @apply inline-flex flex-row items-center gap-2 text-sm font-semibold;
    @apply transition-all duration-100 ease-linear;

    &:after {
      @apply content-[''] inline-flex h-[11.27px] w-[0.8125rem] bg-center bg-cover transition-transform;
    }

    &:hover {
      &:after {
        @apply translate-x-1;
      }
    }

    &.link-primary:not(.link-white) {
      @apply text-gray-900 dark:text-gray-100;
      &:hover {
        @apply text-gray-700 dark:text-gray-200;
      }
    }

    &.link-blue {
      &:after {
        background-image: var(--arrow-blue-600);
      }
    }

    &.link-red {
      &:after {
        background-image: var(--arrow-red-600);
      }
    }

    &.link-white {
      &:after {
        background-image: var(--arrow-white);
      }
    }
  }

  &.link-cta-down {
    &:after {
      @apply rotate-90;
    }

    &:hover {
      &:after {
        @apply translate-x-0 translate-y-1;
      }
    }
  }

  &.link-cta-left {
    @apply flex-row-reverse;

    &:after {
      @apply rotate-180;
    }

    &:hover {
      &:after {
        @apply -translate-x-1;
      }
    }
  }

  &.link-cta-up {
    &:after {
      @apply -rotate-90;
    }

    &:hover {
      &:after {
        @apply translate-x-0 -translate-y-1;
      }
    }
  }
}