@custom-variant sds-theme-forge (&:is(.sds-theme-forge *));
@custom-variant sds-theme-plaid (&:is(.sds-theme-plaid *));

/* TODO: Arbitrary custom theme variant: sds-theme-[test] */
/* matchVariant('sds-theme', (value) => {
  return `&:is(.sds-theme-${value} *)`;
}) */

@layer base {
  .sds-theme-plaid {
    --color-gray-25: #f9f8f8;
    --color-gray-50: #f2f1f1;
    --color-gray-100: #e4e3e3;
    --color-gray-200: #c9c8c7;
    --color-gray-300: #adacac;
    --color-gray-400: #929190;
    --color-gray-500: #777574;
    --color-gray-600: #625f5d;
    --color-gray-700: #4c4946;
    --color-gray-750: #3f3c39;
    --color-gray-800: #322f2b;
    --color-gray-850: #2d2a26;
    --color-gray-900: #1e1d1b;
    --color-gray-950: #141211;
  }
}