@font-face {
  font-family: 'Source Serif';
  src: url('./SourceSerif4Variable-Roman.ttf.woff2') format('woff2-variations'),
       url('./SourceSerif4Variable-Roman.ttf.woff') format('woff-variations');
  font-weight: 100 900; /* full weight range */
  font-stretch: 75% 125%; /* if width axis exists */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif';
  src: url('./SourceSerif4Variable-Italic.ttf.woff2') format('woff2-variations'),
       url('./SourceSerif4Variable-Italic.ttf.woff') format('woff-variations');
  font-weight: 100 900; /* full weight range */
  font-stretch: 75% 125%; /* if width axis exists */
  font-style: italic;
  font-display: swap;
}