@theme {
  --animate-shake: shake 0.2s var(--ease-in-out) 0s 2;
  --animate-slide-up: slide-up 0.3s var(--ease-in-out) 0s 1;

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(0.313rem);
    }
    75% {
      transform: translateX(-0.313rem);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}